.Footer-container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    padding: 20px;
}

.Button1 {
    display: flex;
    flex-direction: row;
    margin-left: -80px;
    padding-top: 40px;
    margin-top: 15px;
    margin-right: 4vw;
}

.Button2 {
    display: flex;
    flex-direction: row;
    margin-top: 54px;
    margin-right: 15px;
}

.footer-content-icon {
   display: inline-block;
   padding-left: 20px;
   margin-top: 57px;
}
