.Heading {
    padding: 0;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
}

.Logo {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    padding: 30px;
    padding-right: 750px;
}

.Button-text {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
    color: #111111;
    text-decoration: none;
}

.Button {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    padding-right: 30px;
    margin-top: 25px;
}