body {
    display: inline-block;
}

@import "header";

@import "footer";

$Maincolor: #111111;

.Title-container {
    padding-left: 40px;
    margin-left: 45px;
}

.Title-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.423077px;
    color: #4A4FF2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Main-info {
    display: flex;
    align-items: flex-start;
}

.Main-text-purple {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    color: #4A4FF2;
}

.Main-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    color: $Maincolor;
}

.Quote {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 50px;
    padding-right: 70px;
    padding-bottom: 70px;
}

.Quote-text {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: $Maincolor;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.Image-1 {
    padding-left: 40px;
    padding-bottom: 3vw;
}

.Part-2 {
    display: flex;
}

.Info-2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    /* or 136% */
    color: $Maincolor;
    padding-left: 40px;
    margin-left: 45px;
}

.Service {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 4px;
    /* identical to box height */
    color: $Maincolor;
    mix-blend-mode: normal;
    opacity: 0.6;
    line-height: 20px;
}

.Grid-container {
    display: grid;
    grid-template-columns: 14 1fr;
    grid-template-rows: 14 1fr;

    .Column-1 {
        grid-column: 3;
        margin-top: 10px;
    }

    .Column-2 {
        grid-column: 5;
        margin-top: 10px;
    }
}

.Grid-container-1 {
    display: grid;
    grid-template-columns: 14 1fr;
    grid-template-rows: 14 1fr;
    padding-top: 8vw;

    .Box {
        grid-row: 1;
        grid-column: 1;
        padding-left: 6vw;
    }

    .Box-1 {
        grid-row: 1;
        grid-column: 3;
    }

    .Box-2 {
        grid-row: 3;
        grid-column: 3;
    }

    .Box-3 {
        grid-row: 1;
        grid-column: 5;
    }

    .Box-4 {
        grid-row: 3;
        grid-column: 5;
    }

    .Box-5 {
        grid-row: 4;
        padding-left: 6vw;
    }

    .Box-6 {
        grid-row: 4;
        grid-column: 3;
    }

    .Box-7 {
        grid-row: 5/6;
        grid-column: 3;
    }

    .Box-8 {
        grid-row: 4;
        grid-column: 5;
    }

    .Box-9 {
        grid-row: 5;
        grid-column: 5;
    }

    .Year-box1 {
        grid-row: 1;
        grid-column: 6;
    }

    .Year-box2 {
        grid-row: 3;
        grid-column: 6;
    }

    .Year-box3 {
        grid-row: 4;
        grid-column: 6;
    }

    .Year-box4 {
        grid-row: 5;
        grid-column: 6;
    }
}

.Line {
    margin-left: 7vw;
}

.Part-3-title {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    color: $Maincolor;
}

.Part-3-title2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: $Maincolor;
}

.Part-3-title3 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: $Maincolor;
    display: block;
}

.Part-3-title4 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: $Maincolor;
}

.Part-3-title5 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: $Maincolor;
}

.Part-3-info {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: $Maincolor;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.Year-box {
    display: flex;
}

.Year1 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: $Maincolor;
}

.Year2 {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: right;
    color: $Maincolor;
}